.bubble-container {
    position: relative;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    margin: 0.5vh;
}

.bubble, .bubble:hover {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    z-index: 500;
    padding:10px;
    background-color: transparent;
    border: #e0e0e0 solid 1px;
}

.bubble:hover {
    background-color: transparent;
    border: #ffc802 solid 2px;
}

.info {
    display: none;
    position: absolute;
    width: 200px;
    background-color: #181e24;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 90%; 
    left: 50%;
    margin-left: -100px; 
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.7rem ;
}

.bubble-container:hover .info {
    display: flex;
    flex-direction: column;
    align-items: center; /* To center the label and icon */
    opacity: 1; 
    margin-bottom: 1.5vh;
}

.label {
    margin-top: 5px; /* Adjust this value based on your design */
    font-size: 0.5rem; /* Adjust this value based on your design */
    font-weight: 700;
    color: #181e24; /* Choose your color */
    text-align: center; /* If you want the label to be centered under the icon */
    max-width: 80px;
    overflow:auto;
    text-overflow: ellipsis;
}

.bubbles{
    display: flex;      
    flex-wrap: wrap;     
    justify-content: flex-start; 
    margin-bottom: 4vh;
}

